<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.elimu.launcher">

    <!-- elimu.ai Appstore ContentProvider (see https://github.com/elimu-ai/appstore/blob/master/app/src/main/AndroidManifest.xml) -->
    <uses-permission android:name="${appstoreApplicationId}.provider.READ" />

    <queries>
        <provider android:authorities="${appstoreApplicationId}.provider.application_provider" />

        <package android:name="ai.elimu.vitabu" />
        <package android:name="ai.elimu.launcher" />
        <package android:name="ai.elimu.content_provider" />
        <package android:name="ai.elimu.analytics" />
        <package android:name="ai.elimu.kukariri" />
        <package android:name="org.dsandler.apps.markers" />
        <package android:name="com.eduapp4syria.feedthemonsterENGLISH" />
        <package android:name="ai.elimu.herufi" />
        <package android:name="com.google.fpl.liquidfunpaint" />
        <package android:name="ai.elimu.soundcards" />
        <package android:name="ai.elimu.imagepicker" />
        <package android:name="ai.elimu.filamu" />
    </queries>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme.Wallpaper"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.HomeScreensActivity" />
    </application>
</manifest>
